<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'flex flex-col mx-auto w-[60%]'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-control mb-3' %>
  
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control mb-3' %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password #{@minimum_password_length} characters minimum", class: 'form-control mb-3' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: 'form-control mb-3' %>
  </div>

  <%= f.button "Sign up", type: "submit", class: "self-center w-[80%] mt-3 button button-gradient text-sm text-white bg-emerald-500 border hover:text-emerald-500 hover:border-emerald-500 hover:bg-transparent", 'data-ripple-light': true %>

  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
