<div id="<%= dom_id recipe %>" class="card mb-5">
  <div class="card-body flex">
    <div class="flex flex-col justify-items-center gap-8 basis-1/2">
      <%= link_to user_recipe_path(recipe.user, recipe), class: 'group/recipe text-lg text-slate-500 font-bold flex items-center p-1.5 rounded-[12px] hover:bg-slate-200 w-max' do %>
        <%= recipe.name %>
        <span class="mx-2">
          <svg class="h-6 w-6 invisible group-hover/recipe:visible group-hover/recipe:translate-x-1.5 group-hover/recipe:text-slate-500 transition duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </span>
      <% end %>
      <% if can? :destroy, recipe %>
        <%= button_to user_recipe_path(recipe.user,recipe), method: :delete, class: 'self-start group mb-4 flex items-center gap-2 button button-red bg-red-500 w-max' do %>
          <span class="whitespace-nowrap"><%= 'Remove' %> </span>
          <svg class="w-6 h-6 group-hover:animate-wiggle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        <% end %>
      <% end %>
      <p class="font-semibold"> By <%= recipe.user.name %></p> 
    </div>
    <div class="mb-3 basis-1/2">
      <p class="mb-3 font-semibold">
        Total food items: <%= recipe.recipe_foods.count %>
      </p>
      <p class="mb-3 font-semibold underline">
        Total price:  <%= recipe.total_price %>
      </p>
    </div>
  </div>
    <p class="ml-5 mb-2 text-white text-sm w-max font-bold p-1 rounded-md <%= recipe.public ? 'bg-green-600' : 'bg-slate-500' %>">
      <%= recipe.public ? 'Recipe is Public' : 'Recipe is Private'%>
    </p>
</div>