<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% else %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<h1 class="text-2xl text-center mb-3">Recipes List</h1>

<div id="recipes" class="flex flex-col w-[40%] mx-auto">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>

  <% if can? :manage, @recipes.first %>
    <%= link_to new_user_recipe_path, class: "my-4 flex items-center gap-2 button button-green bg-green-300 w-max" do %>
      <span class="whitespace-nowrap"><%= 'New Recipe' %> </span>
      <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    <% end %>
  <% end %>
</div>

