<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% else %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<h1 class="text-2xl text-center mb-3">Recipes List</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Open Recipe", user_recipe_path(@user, recipe), class: 'button-2' %>
    </p>
  <% end %>
</div>

<% if can? :manage, @recipes.first %>
  <%= link_to "New recipe", new_user_recipe_path %>
<% end %>
