<p style="color: green"><%= notice %></p>
<% if can? :manage, @recipe or @recipe.public %>
  <%= render @recipe %>
  <% if can? :manage, @recipe %>
  <%= link_to "Generate List", user_recipe_general_shopping_list_index_path(@user, @recipe), class: '' %>
  <%= link_to "Add ingredient", new_user_recipe_recipe_food_path(@user, @recipe), class: '' %>
  <% end %>
  <div class="flex flex-col mx-auto w-11/12">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-gray-800 border-b">
              <tr class="">
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  Food
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  Quantity
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                  Value
                </th>
                <th colspan="2" class="text-sm text-center font-medium text-white px-6 py-4 text-left">
                Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <%@recipe_foods.each do |recipe_food| %>
                <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= recipe_food.food.name %>
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= recipe_food.quantity %>
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= recipe_food.quantity * recipe_food.food.price %>
                  </td>
                  <% if can? :manage, recipe_food.recipe %>
                  <td class="text-sm text-center text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= link_to "Modify", edit_user_recipe_recipe_food_path(@user, @recipe, recipe_food), class: 'hover:bg-amber-400 hover:text-white button capitalize p-1' %>
                  </td>
                  <td class="text-sm text-center text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= button_to "Remove", user_recipe_recipe_food_path(@user, @recipe, recipe_food), method: :delete, class: 'hover:bg-red-400 hover:text-white button capitalize p-1' %>
                  </td>
                  <% end %>
                  <% if cannot? :manage , @recipe %>
                  <td class="text-sm text-center text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <span class="hover:bg-purple-400 hover:text-white button capitalize p-1">No actions for you here</span>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if can? :destroy, @recipe %>
    <div>
      <%= button_to user_recipe_path(@user,@recipe), method: :delete, class: 'group mb-4 flex items-center gap-2 button button-red bg-red-500 w-max' do %>
        <span class="whitespace-nowrap"><%= 'Destroy this recipe' %> </span>
        <svg class="w-6 h-6 group-hover:animate-wiggle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      <% end %>
    </div>
    <% end %>  
  </div>
<% else %>
  <p>Sorry, you don't have access to this recipe</p>
<% end %> 