<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'flex flex-col mx-auto w-[45%]'}) do |f| %>
  
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control mb-3' %>

  <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control mb-3' %>
  

  <% if devise_mapping.rememberable? %>
    <div class="">
      <%= f.check_box :remember_me, class: 'w-3 h-3' %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <%= f.button "Log in", type: "submit", class: "log-in self-center w-[80%] mt-3 button button-gradient text-sm text-white bg-blue-500 border hover:text-blue-500 hover:border-blue-500 hover:bg-transparent" %>
 
<div class="mt-4">
  <%= render "devise/shared/links" %>
</div>
<% end %>
