<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "layouts/top_header" %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="notice"><%= flash[:success] %></div>
    <% else %>
      <div class="alert"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
    <%= render "layouts/bottom_header" %>
  </body>
</html>
